$White: #fff;
$Black: #000;
$Green: #6fa088;
$Peach: #E0A379;
$DarkPeach: #B98562;
$Beige: #f3f0df;
$DarkGreen: #044437;
$GreenHover: $DarkGreen;
$DarkGreenHover: #0c7963;
$LightGreen: #9CBDAB;

$HelperColor: #C4045A;
$HelperColorHover: #c52342;
$BaseColor: #000;
$BaseColorHover: #1f1f1f;
$BaseColorDarker: #006AA1;
$Red: red;
$ExtraGrey: #868686;
$DarkGrey: #434343;
$Blue: #2075FF;
$BlueHover: #0360f7;
$Link: $Blue;
$Grey: #4F4F4F;
$Yellow: #f8e71c;
$Gray:#6C707D;
$BlackText:#121212;
$GrayBlue: #6C707D;
$BlackHover:#363636;

